.card {
    background-color: #fdfdfd;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
    width: 290px;
    font-family: Arial, sans-serif;
    margin: 20px;
  }

  .collection-title{
    font-size: 32px;
    font-weight: 600;
  }
  
  .card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    padding: 10px 0px;
    margin: 0px;
  }
  
  .card-header img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .collection-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
  
  .items-count {
    margin: 0;
    font-size: 14px;
    color: #000000;
    margin-top: 4px;
  }
  